// Scss Document

@font-face{
	font-family: 'Muli', sans-serif;
	src: url("font/Mulish-VariableFont_wght.ttf");
}

$colorMain: #000000;
$colorBG: #ffffff;
$colorHighlight: red;
$phone: "only screen and (max-width : 576px)";
$tablet: "only screen and (max-width : 850px)";
$font: 'Muli', sans-serif;
$fontBold: 800;
$fontLight: 200;
$fontNormal: 400;
$fontLarge: 6vw;
$fontMedium: 3vw;
$fontSmall: 1em;
$marginBottom: 3%;
$marginLeft: 3%;
$marginLarge: 1.5%;
$marginSmall: 3%;

html, body{
	height: 100%;
}

body{
	font-family: $font;
	font-weight: $fontNormal;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: $fontSmall;
	line-height: 1.2;
	min-height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background: $colorBG;
}

body > div{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

body > div > div{
	position: absolute;
	opacity: 0;
	box-sizing: border-box;
}

body > div > .nav{
	opacity: 0;
}

body > div.active > div{
	opacity: 1;
}

body > div.active{
	z-index: 9;
}

body > div.active.done{
	z-index: 1;
}

div.active.done .nav, div.active.done .content button{
	display: none;
}

.nav{
	width: 15%;
	max-width: 70px;
	z-index: 2;
	right: 0;
    top: 50%;
	transform: translate(0,-50%);
}

.content{
	width: 100%;
	z-index: 1;
	position: absolute;
    top: 7.5%;
}

div.active.done .content .canvas{
	    transform: translate($marginLarge, $marginLarge);
}

div.active.doneG .content .canvas{
	transform: translate(3%, 3%);
}

img{
	max-width: 100%;
	max-height: 100%;
}

h2{
	font-weight: $fontNormal;
	font-size: $fontMedium;
	margin-bottom: $marginLarge;
	margin-top: 0;
}

.selection{
	border: 1px solid;
	border-right: 0;
	padding: 1% 0 1% 1%;
}

button{
	padding: 10%;
	margin: 0;
	cursor: pointer;
	background: $colorBG;
	border: 0;
}

button svg{
	width: 100%;
	height: 100%;
}

button:hover{
	background: $colorMain;
	color: $colorBG;
}

button:hover svg{
	filter: invert(100%)
}

.content button, .popup button{
	padding: 0;
	width: 30%;
	margin: $marginLarge auto 0 auto;
	border: 1px solid $colorMain;
	font-size: $fontMedium;
}

.popup button{
	width: auto;
    margin: 5% auto 0 auto;
    display: block;
	padding: 0 $marginLarge;
}

header h1{
	max-width: 700px;
	font-size: $fontLarge;
	font-weight: $fontBold;
	padding: $marginLarge;
    text-align: left;
    box-sizing: border-box;
    text-transform: uppercase;
	margin: 0;
	position: absolute;
	z-index: 6;
	line-height: 0.9;
	color: blue;
    mix-blend-mode: multiply;
}


header h1.front{
	mix-blend-mode: none;
	z-index: 10;
}

.overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
	z-index: 5;
}

.popup{
	position: absolute;
    width: 50%;
    background: white;
    height: auto;
    padding: $marginLarge;
    border: 1px solid;
	left: 50%;
    top: 7.5%;
	transform: translate(-51.5%, -1.5%);
  	-ms-transform: translate(-51.5%, -1.5%);
    text-align: left;
	width: 30vw;
	height: calc(30vw * 1.41);
	display: flex;
	flex-flow: column;
	justify-content: center;
	box-sizing: border-box;
}

.popup .close{
	font-size: $fontMedium;
	position: absolute;
    right: 3%;
	top: 3%;
}

.popup h2{
	width: 95%;
}

#text{
	display: none;
}

.canvas{
	width: 30vw;
	height: calc(30vw * 1.41);
	border: 1px solid $colorMain;
	background: $colorBG;
	margin: 0 auto $marginLarge auto;
	box-shadow: 15px 15px 15px -15px $colorMain;
}

input{
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	font-family: $font;
	font-size: $fontMedium;
	color: $colorMain;
	border: 1px solid $colorMain;
	background: $colorBG;
	box-shadow: 15px 15px 15px -15px $colorMain;
}

#bg{
	position: fixed !important;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

#bg svg{
    height: 100%;
    width: 100%;
}

.disabled{
  pointer-events: none;
}

#ggSelection button{
  pointer-events: auto;
}

.toolbox{
	font-size: 0.8em;
    font-weight: lighter;
    /*transform: rotate(90deg);
    position: absolute;
    left: -30px;
    top: 50%;*/
	text-align: left;
}

#foto.hide svg{
	opacity: 0;
}

#foto #timeCount{
	display: none;
	margin-top: -52px;
    font-size: $fontMedium;
}

#foto.hide #timeCount{
	display: block;
}

/*.navLast{
	width: 30vw;
    margin: 1.2% auto 0 auto;
}

#redo{
	width: 15%;
    margin: 0;
    background: none;
    border: none;
    margin-bottom: -100px;
    display: block;
    float: right;
}

#savePDF{
	width: 80%;
    margin: 0;
    display: block;
    float: left;
}*/

@media #{$tablet}{
	.canvas{
		width: 50vw;
		height: calc(50vw * 1.41);
	}
	
	h2, .content button, .popup button, input, .popup .close, #foto #timeCount{
		font-size: 4.5vw;
	}
	
	.content button, .popup button{
		width: 50vw;
	}
	
	header h1{
		font-size: 9vw;
	}
	
	.popup{
    	width: 75%;
	}
}

@media #{$phone}{
	.canvas{
		width: 75vw;
		height: calc(75vw * 1.41);
	}
	
	h2, .content button, .popup button, input, .popup .close, #foto #timeCount{
		font-size: 6vw;
	}
	
	.content button, .popup button{
		width: 75vw;
	}
	
	header h1{
		font-size: 12vw;
	}
	
	.popup{
    	width: 94%;
	}
}